
.reglas{
  float:left;
  width: fit-content;
  
  margin-top: 2vh;
  
  
  
}

.resultado{
  float:left;
  margin-top: 2vh;
  margin-left: 3vw;
  width: fit-content;
  
  
}

.card-text{
  padding-right: 3vh;
}

.juego{
  margin-top: 2vh;
  margin-left: 2vw;
  width: fit-content;
  float:left;
  
}

.form-check-label{
  color: rgb(255, 255, 255);
}


.btn{
  margin-left: 1vw;
  margin-right: 0.5vw;
  margin-top: 1vh;
  margin-bottom: 0.5vw;
  width: fit-content;
  padding-left: 2vw;
  padding-right: 2vw;
}

.alert{
  margin-left: 1vw;
  width: fit-content;
}


